.player {
  position: relative;
  width: 100vw;
  max-width: var(--max-width);
  z-index: 1;
}

.player__album {
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 1;
  cursor: pointer;
}

/* 곡 추가 버튼 */
.player__button--plus {
  position: absolute;
  /* bottom: 0; */
  bottom: 2.7rem;
  left: 11.4rem;
  z-index: 1;
  cursor: pointer;
}

.player__button--plus-icon {
  color: var(--black-color);
}

/* 재생바 전체 */
.player > div > div {
  /* background-color: var(--black-color); */
}

/* 재생바 윗 부분 */
.player > div > div > div:first-child {
  position: absolute;
  z-index: 1;
  border: 0;
}

/* 재생바 윗 부분 content */
.player > div > div > div:first-child > div > div:first-child {
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 재생바 윗 부분 로고 */
.player > div > div > div:first-child > div::after {
  /* width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.3em;
  border-radius: 50%;
  content: "\00a0\00a0\00a0\00a0Tunemate";
  color: var(--white-color);
  background-image: url("/favicon.ico");
  background-size: cover; */
}

/* 재생바 윗 부분 로고 */
.player > div > div > div:first-child > div > a > svg {
  /* display: none; */
  cursor: default;
}

/* 재생바 윗 부분 title */
.player > div > div > div:first-child > div > div:first-child > div:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  cursor: default;
}

/* 재생바 윗 부분 좋아요 버튼 */
.player > div > div > div:first-child > div > div:first-child > button {
  display: none;
}

.player > div > div > div:first-child > div > div:first-child > button > svg {
  display: none;
}

/* 재생바 아래 부분 */
.player > div > div > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* 버튼 container */
.player > div > div > div:last-child > div:first-child {
  position: absolute;
  bottom: 1.8rem;
  right: 0.5rem;
  z-index: 1;
}

/* 재생 slider */
.player > div > div > div:last-child > div:last-child {
  position: absolute;
  width: 50%;
  bottom: 0.8rem;
}

/* 디바이스 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(1) {
  display: none;
}
.player > div > div > div:last-child > div:first-child > div:nth-child(2) {
  display: none;
}
/* 이전 곡 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(3) {
}
/* 재생 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(4) {
}
/* 다음 곡 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(5) {
}
.player > div > div > div:last-child > div:first-child > div:nth-child(6) {
  /* display: none; */
}
.player > div > div > div:last-child > div:first-child > div:last-child svg {
  /* display: none; */
  /* height: 1px;
  width: 1px; */
}

@media (min-width: 768px) {
  /* 재생바 전체 */
  .player > div > div {
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
  }

  /* 재생바 윗 부분 */
  .player > div > div > div:first-child {
    position: relative !important;
    z-index: 1;
    border: 0;
  }

  /* 버튼 container */
  .player > div > div > div:nth-child(2) {
    position: absolute !important;
    bottom: 0.8rem;
    right: 4rem;
    z-index: 1;
    margin-left: auto;
  }

  /* 버튼 container */
  .player > div > div > div:last-child > div:first-child {
    position: relative !important;
    bottom: 1.8rem;
    right: 0.5rem;
    z-index: 1;
  }

  /* 재생 */
  .player > div > div > div:nth-child(2) > div:last-child {
    position: relative !important;
    width: 100%;
    /* bottom: 0.8rem; */
  }
  /* 재생 slider */
  .player > div > div > div:nth-child(2) > div:last-child > div:last-child {
    position: relative !important;
    /* width: 100%; */
    /* bottom: 0.8rem; */
  }

  /* 음량 slider */
  .player > div > div > div:last-child > div:last-child {
    position: relative !important;
    width: 60%;
    bottom: 0.8rem;
  }
}
