.player {
  position: relative;
  width: 100vw;
  max-width: var(--max-width);
  z-index: 1;
}

/* 재생바 전체 */
.player > div > div {
  /* background-color: var(--black-color); */
}

/* 재생바 윗 부분 */
.player > div > div > div:first-child {
  position: absolute;
  z-index: 1;
  border: 0;
}

/* 재생바 윗 부분 content */
.player > div > div > div:first-child > div > div:first-child {
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 재생바 윗 부분 title */
.player > div > div > div:first-child > div > div:first-child > div:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

/* 재생바 윗 부분 좋아요 버튼 */
.player > div > div > div:first-child > div > div:first-child > button {
  /* position: absolute;
  bottom: 2rem;
  right: 8rem;
  z-index: 1; */
}

/* 재생바 아래 부분 */
.player > div > div > div:last-child {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* 버튼 container */
.player > div > div > div:last-child > div:first-child {
  position: absolute;
  bottom: 1.8rem;
  right: 0.5rem;
  z-index: 1;
}

/* 재생 slider */
.player > div > div > div:last-child > div:last-child {
  position: absolute;
  width: 50%;
  bottom: 0.8rem;
}

/* 디바이스 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(1) {
  display: none;
}
.player > div > div > div:last-child > div:first-child > div:nth-child(2) {
  display: none;
}
/* 이전 곡 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(3) {
}
/* 재생 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(4) {
}
/* 다음 곡 버튼 */
.player > div > div > div:last-child > div:first-child > div:nth-child(5) {
}
.player > div > div > div:last-child > div:first-child > div:nth-child(6) {
  /* display: none; */
}
.player > div > div > div:last-child > div:first-child > div:last-child svg {
  /* display: none; */
  /* height: 1px;
  width: 1px; */
}
