.textarea-container {
  display: flex;
  align-items: stretch;
}

.textarea-label {
  flex-shrink: 0;
  width: 5em;
  margin-top: 0.5em;
}

.textarea {
  flex: 1;
  height: inherit;
  padding: 0.5em;
}
