.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-navbar-height);
  width: inherit;
  display: grid;
  background-color: var(--main-color);
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

.bottom-navbar__item {
  margin: auto;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
