.bottom-navbar {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-navbar-height);
  width: inherit;
  max-width: var(--max-width);
  display: grid;
  background-color: var(--main-color);
  grid-template-columns: repeat(5, 1fr);
  gap: 1vw;
  z-index: 10;
}

.bottom-navbar__item {
  margin: auto;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.bottom-navbar__item svg {
  max-height: 45%;
  max-width: 45%;
}
