.request-item {
  display: flex;
  align-items: center;
}

.request-item__image {
}
.request-item__name {
  margin-left: 1em;
}

.request-item__button-container {
  margin-left: auto;
}

.request-item__button {
  margin: 0.2em;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}
