.common-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.profile-img-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
