.rotatingImageContainer {
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 50%; /* 동그랗게 만들기 */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.683); /* 그림자 추가 */
}

.rotatingImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 5s linear infinite; /* 무한 회전 애니메이션 */
}

.rotatingImageContainer::before {
  content: "";
  position: absolute;
  width: 70px; /* 원의 지름 설정 */
  height: 70px; /* 원의 지름 설정 */
  background-color: white; /* 투명한 흰색 원 */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
