.profile-image {
  /* height: 20vw;
  width: 20vw; */
}

.profile-image img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

.recommendation {
  height: 5rem;
  width: 5rem;
}

.friend {
  height: 2.5rem;
  width: 2.5rem;
}

.small {
  height: 1.5rem;
  width: 1.5rem;
}

.profile {
  height: 10rem;
  width: 10rem;
  background-color: var(--white-color);
  border: 0.5rem solid var(--main-color);
  border-radius: 50%;
}

.common-profile {
  height: 7rem;
  width: 7rem;
  background-color: var(--white-color);
  border: 0.5rem solid var(--main-color);
  border-radius: 50%;
}
