.friend-item-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  background-color: var(--white-color);
  cursor: pointer;
  padding: 0.5em 1em;
}

.friend-item-container:hover {
  background-color: var(--light-gray-color);
}

.friend-item {
  /* padding: 0.5rem 1rem; */
}

.friend-item__user {
  flex: 1;
  display: flex;
}

.friend-item__user--image {
  margin-right: 1em;
}

.friend-item__icon-container {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  flex-grow: 0;
}

.friend-item__icon {
  flex: 1;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.friend-item__icon--chat-time {
  font-size: 0.8rem;
  width: max-content;
  color: var(--gray-color);
  margin-bottom: 0.2em;
}

.friend-item__icon--chat-count {
  background-color: var(--red-color);
  border-radius: 4em;
  width: max-content;
  text-align: center;
  font-size: 0.6rem;
  padding: 0.3em 0.5em;
  color: var(--white-color);
}

.friend-item__user--content-container {
  display: flex;
  max-width: 10em;
  width: 10em;
  flex-direction: column;
  justify-content: space-between;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.friend-item__user--name {
  font-weight: bold;
}
.friend-item__user--message {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
