.top-navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--top-navbar-height);
  width: inherit;
  display: grid;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.top-navbar__item {
  cursor: pointer;
  padding: 1rem;

  display: flex;
  align-items: center;
  color: var(--main-color);
}

.top-navbar__item svg {
  /* color: var(--main-color); */
}

.top-navbar__item--back {
  cursor: pointer;
}

.top-navbar__unread-count {
  background-color: var(--red-color);
  border-radius: 4em;
  width: max-content;
  text-align: center;
  font-size: 0.6rem;
  padding: 0.3em 0.5em;
  color: var(--white-color);
}
