.top-navbar {
  position: fixed;
  top: 0;
  height: var(--top-navbar-height);
  width: inherit;
  display: grid;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-navbar__item {
  cursor: pointer;
  padding-left: 5vw;
  padding-right: 5vw;

  display: flex;
  align-items: center;
  color: var(--main-color);
}

.top-navbar__item svg {
  /* color: var(--main-color); */
}

.top-navbar__item--back {
  cursor: pointer;
}
