.container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: var(--max-width);
  height: 50vh;
  padding: 1rem;
}

.nothing.nothing {
  max-width: 30vh;
  max-height: 44vh;
  overflow: hidden;
  margin: auto;
  flex: 1;
}
