.requests-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "TAEBAEKmilkyway";
}

.requests-navbar__item {
  flex: 1;
  padding: 0.5em 1em;
  margin: 0;
  height: 3em;
  text-align: center;
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
}
