.requests-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "TAEBAEKmilkyway";
}

.requests-navbar__item {
  flex: 1;
  padding: 0.5em 1em;
  margin: 0;
  height: 3em;
  text-align: center;
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
  position: relative;
}

.requests-navbar__unread-count {
  background-color: var(--red-color);
  border-radius: 4em;
  width: max-content;
  text-align: center;
  font-size: 0.6rem;
  padding: 0.3em 0.5em;
  color: var(--white-color);
  position: absolute;
  margin-left: 0.2em;
}
