.concert-image {
  cursor: pointer;
}

.concert-image img {
  height: inherit;
  width: inherit;
}

.small {
  height: 5rem;
  width: 4rem;
}

.list {
  height: 6rem;
  width: 5rem;
}

.detail {
  height: 15rem;
  width: 12rem;
}
