.concert-info-item {
  display: flex;
  font-size: 15px;
  color: rgb(39, 39, 39);
}

.concert-info-item__title {
  width: 4em;
  flex-shrink: 0;
  margin-right: 1em;
}

.concert-info-item__description {
  flex-grow: 1;
  font-weight: 500;
  word-break: break-all;
  white-space: normal;
}
