@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Leckerli+One&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@700&family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.body {
  font-weight: bold;
  font-family: "TAEBAEKmilkyway";
  align-items: center;
  justify-content: center;
  display: flex;
}

.recommendation-item {
  /* position: relative; */
  background-color: var(--white-color);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 1rem 3rem;
  display: flex;
  width: 120px;
  /* border: 10px solid rgb(218, 214, 246); */
  flex-direction: column;
  cursor: pointer;
  width: 10rem;
}

.recommendation-item__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.recommendation-item__user--image {
  flex: 1;
  /* border: 1px solid rgb(218, 214, 246); */
  margin: 5px;
}
.recommendation-item__user--name {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommendation-item__info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em 1em;
}
.recommendation-item__info--ratio {
  flex: 1;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.recommendation-item__info--ratio-text {
  text-align: center;
  margin-top: 0.1em;
  margin-left: 0.3em;
  margin-right: 1em;
}

.recommendation-item__info--button {
  width: max-content;
}
