@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Leckerli+One&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@700&family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");

.body {
  font-family: "Nanum Gothic", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.recommendation-item {
  /* position: relative; */
  background-color: var(--white-color);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 1vh 3vw;
  display: flex;
  width: 120px;
  /* border: 10px solid rgb(218, 214, 246); */
  flex-direction: column;
  cursor: pointer;
}

.recommendation-item__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.recommendation-item__user--image {
  flex: 1;
  border: 1px solid rgb(218, 214, 246);
  border-radius: 50%;
  margin: 5px;
}
.recommendation-item__user--name {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommendation-item__ratio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-left: 1rem;
}

.recommendation-item__button-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.recommendation-item__button-item {
  margin-right: 1vw;
}
