.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 50%;
  left: auto;
  right: auto;
}
