.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: absolute;
  top: 50%;
  left: auto;
  right: auto; */
  height: var(--main-height);
  width: 100vw;
  max-height: var(--max-height);
  max-width: var(--max-width);
}

.nothing__text {
}
