.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--main-height);
  width: 100vw;
  max-height: var(--max-height);
  max-width: var(--max-width);
  height: 60vh;
}

.nothing__text {
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  margin: auto;
}
