.name-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 40vh;
  height: 6vh;
  border-radius: 10px;
  margin-top: 2vh;
}

.name-text {
  color: var(--text-color);
  font-size: 4vh;
}