.modal-overlay {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-box {
  display: block;
  background: white;
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  border-radius: 1rem;

  @media screen and (max-width: 499px) {
    width: 20rem;
    height: 20rem;
  }
}
