.modal-overlay {
  z-index: 10;
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(3, 3, 3, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-box {
  display: block;
  background: white;
  width: 20rem;
  max-width: var(--max-width);
  max-height: var(--max-height);
  border-radius: 1rem;
}

.modal-simple {
  display: block;
  background: white;
  width: 18rem;
  border-radius: 1rem;
}
