.concerts-page {
  margin-top: 1em;
}

.concerts-page__search-container {
  display: flex;
  height: 2.5em;
  align-items: stretch;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;

  border: 1px var(--main-color) solid;
}

.concerts-page__search {
  flex-grow: 1;
  height: inherit;
}

.concerts-page__select {
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
}

.concerts-page__concert-list {
  padding: 1rem;
}

.concert-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0.5em;
}

.concert-detail-page__title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.concert-detail-page__info {
  margin-top: 1em;
  width: 80%;
}
