#__next {
  position: relative;
  width: 400px;
  height: 800px;
  background-color: var(--white-color);
}

.main {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: inherit;
}

.login {
  height: inherit;
  width: inherit;
  background: var(--gradation-color);
}

* {
  /* 색상 설정 */
  --black-color: #1c1c1c;
  --white-color: #fdfdfd;
  --gray-color: #858585;
  --light-gray-color: #dddddd;
  --point-color: #463296;
  --main-color: #e4ddff;
  --text-color: #666666;
  --gradation-color: linear-gradient(var(--main-color), var(--white-color));
}
