* {
  /* 색상 설정 */
  --red-color: red;
  --blue-color: blue;
  --black-color: #1c1c1c;
  --transparent-black-color: rgba(28, 28, 28, 0.7);
  --white-color: #fdfdfd;
  --gray-color: #858585;
  --light-gray-color: #dddddd;
  --point-color: #463296;
  --main-color: #e4ddff;
  --text-color: #666666;
  --gradation-color: linear-gradient(var(--main-color), var(--white-color));

  --top-navbar-height: 3.5rem;
  --bottom-navbar-height: 4rem;
  --main-height: 90vh;

  --max-height: 800px;
  --max-width: 400px;
}

@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");

body {
  margin: 0;
  padding: 0;
  margin: auto !important;
  height: 100%;
  max-height: var(--max-height);
  font-family: "Nanum Gothic", sans-serif;
  background: linear-gradient(140deg, #d5bdfa, #ffffff, #fff7cf);
}

#__next {
  position: relative;
  max-width: var(--max-width);
  /* max-height: var(--max-height); */
  background-color: var(--white-color);
}

@media (min-width: 400px) {
  body,
  #__next {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    & > div {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      flex-direction: column;
    }
  }
}

a {
  text-decoration: none;
}

.main {
  min-height: var(--main-height);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
  }
}

.login {
  min-height: var(--max-height);
  width: inherit;
  background: var(--gradation-color);
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
  }
}

.flex-container {
  display: flex;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.blue {
  color: var(--blue-color);
}

.disabled {
  /* z-index: -100; */
  display: none !important;
}
