@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Leckerli+One&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@700&family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");

.body {
  font-family: "Nanum Gothic", sans-serif;
}

.groups-page {
  display: flex;
  flex-direction: column;
}

.groups-page__group-list {
  padding: 0 1em;
}

.groups-page__group--create {
  align-self: flex-end;
  margin-right: 3em;
  margin-bottom: 1em;
  margin: 15px;
}

.groups-page__search-container {
  display: flex;
  height: 2.5em;
  align-items: stretch;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;

  border: 1px var(--main-color) solid;
}

.groups-page__search {
  flex-grow: 1;
  height: inherit;
}

.groups-page__select {
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
}

/* GroupCreatePage */
.group-create-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-create-page__button.group-create-page__button {
  margin-bottom: 1em;
  width: 10em;
}

/* GroupDetailPage */
.group-detail-page {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.group-detail-page__title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2em;
  /* background-color: rgb(233, 227, 248); */
  padding: 1em;
}

.group-detail-page__title--input {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2em;
  padding: 0.85em;
  border: 2px solid var(--main-color);
}

.group-detail-page__description {
  margin-top: 1em;
  margin-bottom: 1em;
}

.group-detail-page__description-item {
  border-bottom: 1px solid var(--black-color);
  padding: 1em 0.5em;
}

.group-detail-page__description-item:last-child {
  border-bottom: 0;
  margin-bottom: 0.2em;
}

.group-detail-page__description-item--input {
  border-bottom: 1px solid var(--black-color);
  padding: 0.5em;
}

.group-detail-page__description-item--input input {
  border: 2px solid var(--main-color);
}

.group-detail-page__description-item--input:last-child {
  border-bottom: 0;
}

.group-detail-page__concert-title {
  margin-bottom: 0.5em;
}

.group-detail-page__button-container {
  display: flex;
  justify-content: center;
}
.group-detail-page__button {
}
