.login-page {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-page__title {
  text-align: center;
  font-size: large;
}

.login-page__button {
  margin-top: 2rem;
}
