.custom-player .rswp-image {
  /* 이미지 크기 조절 */
  width: 500px; /* 원하는 크기로 조절하세요 */
  height: 500px; /* 원하는 크기로 조절하세요 */
  /* 다른 스타일링을 추가할 수 있습니다. */
}

.playlist-details {
  display: flex;
  flex-direction: column;
}

.playlist-details-container {
  display: flex;
  flex-direction: column;
}

.playlist-details-item {
  flex: 1;
}
