.concert-item {
  display: flex;
  cursor: pointer;
}

.concert-item__image {
  /* margin-top: 2cm; */
  width: 80px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  margin: auto;
}

.concert-item__content {
  flex-grow: 1;
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2rem 0.7rem;
  text-align: center;
}

.concert-item__content--date {
  font-size: 0.8rem;
}
.concert-item__content--title {
  font-weight: bold;
  line-height: 1em;
}
